:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --dark-shadow: rgba(0, 0, 0, 0.4);
  --curve: cubic-bezier(0.25, 1, 0.55, 1);
  --bg-color: #6ab04c;
  --primary-color: #ffffff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 6px 6px 10px var(--dark-shadow);
}

.l-circle {
  z-index: 1;
  height: 90px;
  width: 90px;
  animation: growLCircle 2s var(--curve) infinite alternate;
}

.m-circle {
  z-index: 2;
  width: 60px;
  height: 60px;
  animation: growMCircle 2s var(--curve) infinite alternate;
}

.s-circle {
  z-index: 3;
  width: 30px;
  height: 30px;
  animation: growSCircle 2s var(--curve) infinite alternate;
}

@keyframes growSCircle {
  0%,
  70% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes growMCircle {
  0%,
  40% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes growLCircle {
  0%,
  10% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
