:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-color: #1c1d22;
  --sky-start-color: #8d2f53;
  --sky-end-color: #5a3a79;
  --star-color: #ffe0b0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
}

.sky {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 60px;
  left: 60px;
  background: linear-gradient(
    to bottom,
    var(--sky-start-color) 0%,
    var(--sky-end-color) 100%
  );
  border-radius: 50%;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 1px;
  background-color: var(--star-color);
}

.shooting-star {
  position: absolute;
  top: 0;
  left: -120px;
  width: 120px;
  height: 2px;
  background-color: url(https://100dayscss.com/codepen/shooting-star.png) center
    center no-repeat;
  background-size: 100% 100%;
  transform: rotate(20deg);
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes shooting-star {
  0% {
    transform: translate3d(0, 0, 0) rotate(20deg);
  }
  10%,
  100% {
    transform: translate3d(451px, 164px, 0) rotate(20deg);
  }
}
