@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,400");

:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --light-shadow: rgba(0, 0, 0, 0.1);
  --bg-color: #ea5c97;
  --input-color: #ffffff;
  --input-text-color: #6e6e6e;
  --placeholder-color: #a4b9ce;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  background-color: var(--bg-color);
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-box {
  position: relative;
  width: 260px;
  top: 180px;
  left: 70px;
  background-color: var(--input-color);
  box-shadow: 4px 8px 12px 0 var(--light-shadow);
}

.input-field {
  width: 205px;
  height: 40px;
  border: none;
  padding-left: 15px;
  background-color: var(--input-color);
  color: var(--input-text-color);
  font-size: 13px;
  font-weight: 600;
}

.search-btn {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--input-color);
  color: var(--bg-color);
  font-size: 20px;
}

.search-btn span {
  position: relative;
  top: 3px;
}

.suggestions-list {
  background-color: var(--input-color);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
  margin: 0;
  list-style: none;
  color: var(--input-text-color);
}

.suggestions-list.active {
  border-top: 1px solid var(--bg-color);
}

.suggestions-list li {
  margin: 18px 0 16px 0;
  padding: 0;
  cursor: pointer;
}

.suggestions-list li:hover {
  color: var(--input-text-color);
}

.suggestions-list li b {
  font-weight: 600;
}

*:focus {
  outline: none;
}

::placeholder {
  color: var(--placeholder-color);
}
