:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --circle-length: 288px;
  --bg-colord: #1bbe9e;
  --circle-empty-color: #12836d;
  --progress-color: #ffffff;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-colord);
}

.svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background,
.progress {
  fill: none;
  stroke-width: 4;
}

.background {
  stroke: var(--circle-empty-color);
}

.progress {
  stroke: var(--progress-color);
  stroke-linecap: round;
  stroke-dasharray: var(--circle-length);
  stroke-dashoffset: var(--circle-length);
  animation: progress-animation 4s linear infinite,
    rotate-animation 3s linear infinite;
  transform-origin: center;
}

@keyframes progress-animation {
  0% {
    stroke-dashoffset: var(--circle-length);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
