@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-color: #5ca4ea;
  --btn-hover-color: #4f95da;
  --btn-border-color: #91c9ff;
  --text-color: #ffffff;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
}

.interactive-area {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.action-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.action-button span {
  position: absolute;
  width: 100%;
  line-height: 60px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.svg-frame {
  fill: none;
}

.background-line,
.highlight-line {
  stroke-width: 1;
  transition: all 0.8s ease-in-out;
}

.background-line {
  stroke: var(--btn-border-color);
}

.highlight-line {
  stroke: var(--text-color);
  stroke-dasharray: 40 480;
  stroke-dashoffset: 40;
}

.action-button:hover .background-line {
  fill: var(--btn-hover-color);
}

.action-button:hover .highlight-line {
  stroke-dashoffset: -480;
}
