:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-color: #de387d;
  --border-color: #e23f9e;
  --hover-bg-color: #ec42b9;
  --primary-color: #ffffff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.square {
  float: left;
}

.square input {
  display: none;
}

.square label {
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.square label:hover {
  background-color: var(--hover-bg-color);
  border-color: var(--border-color);
}

.square input:checked ~ label {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
