@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,500,400,300);

:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --light-shadow: rgba(0, 0, 0, 0.2);
  --bg-color: #572626;
  --text-color: #888888;
  --search-input-color: #777777;
  --primary-card-color: #ffffff;
  --side-menu-bg-color: #7d4343;
  --side-menu-text-color: #cd9393;
  --side-menu-hover-color: #693838;
  --card-head-color: #cd5f5f;
  --button-color: #ffb2b2;
  --time-line-color: #ebebeb;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-menu {
  z-index: -1;
  position: absolute;
  margin-top: 15px;
  top: 0;
  left: 30px;
  width: 150px;
  height: 270px;
  background-color: var(--side-menu-bg-color);
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 10px var(--light-shadow);
  border-radius: 3px;
}

.card.slide-right {
  transform: translateX(150px);
}

.side-menu.show-menu {
  transform: translateX(-30px);
}

.card {
  width: 300px;
  height: 300px;
  background-color: var(--primary-card-color);
  border-radius: 3px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 10px var(--light-shadow);
}

.card-head {
  height: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--card-head-color);
  color: var(--primary-card-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px 3px 0 0;
}

.card-body {
  position: relative;
  height: 240px;
  font-size: 11px;
}

.card-body p {
  font-size: 15px;
  margin-top: 2px;
}

h1 {
  font-size: 15px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

.menu-btn {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: transparent;
  cursor: pointer;
}

.btm-line,
.top-circle,
.top-line {
  background-color: var(--button-color);
}

.btm-line {
  width: 29px;
  height: 3px;
  border-radius: 20px;
}

.top {
  display: flex;
  align-items: center;
  gap: 2px;
}

.top-line {
  width: 20px;
  height: 3px;
  border-radius: 10px;
}

.top-circle {
  width: 7px;
  height: 7px;
  border-radius: 7px;
}

.search-btn {
  background-color: transparent;
  border: none;
  color: var(--button-color);
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}

.menu-btn:hover .btm-line,
.menu-btn:hover .top-line,
.menu-btn:hover .top-circle {
  background-color: var(--primary-card-color);
}

.search-btn:hover {
  color: var(--primary-card-color);
}

.search-input {
  position: absolute;
  border-radius: 20px;
  border: none;
  font-size: 13px;
  color: var(--search-input-color);
  padding: 0 16px;
  width: 200px;
  height: 34px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateX(15px);
}

.search-input.show {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}

.search-input:active {
  color: var(--primary-card-color);
}

.search-input:focus,
.search-btn:focus,
.menu-btn:focus {
  outline: none;
}

.menu-btn:focus .top-line,
.menu-btn:focus .top-circle,
.menu-btn:focus .btm-line {
  background-color: var(--bg-color);
}

.search-btn:focus {
  color: var(--bg-color);
}

.time-line {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--time-line-color);
  left: 27px;
  top: -25px;
}

.notification {
  margin: 25px 18px 25px 43px;
  cursor: pointer;
}

.notification:hover {
  color: var(--card-head-color);
}

.notif-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--primary-card-color);
  left: 23px;
}

.notif-circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: 2px solid var(--card-head-color);
  background-color: var(--primary-card-color);
  left: 0px;
  transform: translateY(4px);
}

.side-menu {
  margin-top: 15px;
}

span.fa {
  padding-right: 10px;
  height: 14px;
  width: 18px;
  height: 14px;
}

.side-menu ul li {
  display: block;
  color: var(--side-menu-text-color);
  font-size: 14px;
  padding: 17px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.side-menu ul li:hover {
  color: var(--primary-card-color);
  background-color: var(--side-menu-hover-color);
}

.side-menu ul {
  padding: 10px 0;
  margin: 0;
}
