:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-color: #404556;
  --bulb-color: #fff35c;
  --bulb-hover-color: #8c8f99;
  --contact-color: #e5e5e5;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  background: var(--bg-color);
  overflow: hidden;
}

.light-icon,
.light-glow {
  position: absolute;
  top: 134px;
  left: 162px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.light-icon {
  z-index: 2;
  fill: var(--bulb-color);
}

.light-icon:hover {
  fill: var(--bulb-hover-color);
}

.light-glow {
  width: 76px;
  height: 76px;
  background: var(--bulb-color);
  border-radius: 50%;
  box-shadow: 0px 0px 50px 10px var(--bulb-color);
  opacity: 1;
}

.light-icon:hover + .light-glow {
  opacity: 0;
}

.light-base {
  position: absolute;
  top: 233px;
  left: 184px;
  fill: var(--contact-color);
}
