@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");

:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-color: #2135aa;
  --text-color: #ffffff;
  --btn-hover-color: #5254ca;
  --btn-border: #454cb0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.invisible {
  display: none;
}

.toggle-btn {
  box-sizing: border-box;
  position: absolute;
  top: 170px;
  left: 70px;
  width: 260px;
  height: 60px;
  border: 2px solid var(--text-color);
  border-radius: 30px;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.toggle-btn:hover {
  background-color: var(--btn-hover-color);
}

.toggle-btn img {
  position: absolute;
  top: 16px;
  left: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-out 1.5s;
}

.progress-ring {
  position: absolute;
  top: 170px;
  left: 170px;
  width: 60px;
  height: 60px;
  fill: none;
  stroke: var(--text-color);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 183 183;
  stroke-dashoffset: 183;
  transform: rotate(-90deg);
  pointer-events: none;
}

#action-toggle:checked ~ .toggle-btn {
  animation: toggle-btn-animate 0.5s ease both,
    fill-animate 0.5s ease-out 1.5s forwards;
}

#action-toggle:checked ~ .progress-ring {
  animation: ring-animate 2s ease-out 0.5s both;
}

@keyframes toggle-btn-animate {
  0% {
    width: 260px;
    left: 70px;
    border-color: var(--text-color);
    color: var(--text-color);
  }
  50% {
    color: transparent;
  }
  100% {
    width: 60px;
    left: 170px;
    border-color: var(--btn-border);
    background-color: transparent;
    color: transparent;
  }
}

@keyframes ring-animate {
  0% {
    stroke-dashoffset: 183;
  }
  50% {
    stroke-dashoffset: 0;
    stroke-dasharray: 183;
    transform: rotate(-90deg) scale(1);
    opacity: 1;
  }
  90%,
  100% {
    stroke-dasharray: 500 500;
    transform: rotate(-90deg) scale(2);
    opacity: 0;
  }
}

@keyframes fill-animate {
  0% {
    background-color: transparent;
    border-color: var(--text-color);
  }
  100% {
    background-color: var(--text-color);
  }
}

#action-toggle:checked ~ .toggle-btn img {
  opacity: 1;
  animation: check-animate 0.5s ease-out 1.5s both;
}
