:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-color: #1e3242;
  --star-color: #c3dcec;
  --star-streak-width: 1%;
  --star-streak-height: 10%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
}

.warp .path {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.warp .path .star {
  position: absolute;
  width: var(--star-streak-width);
  height: var(--star-streak-height);
  top: calc(50% - var(--star-streak-height) / 2);
  left: calc(50% - var(--star-streak-width) / 2);
  background-color: var(--star-color);
}

@keyframes warp {
  0% {
    transform: scale(0);
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 1;
  }
}
