:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --lg-color: #ffc902;
  --ll-color: #890505;
  --lm-color: #a51012;
  --lr-color: #c81718;
  --ull-color: #9e0707;
  --ul-color: #dc2323;
  --um-color: #bc0e0e;
  --ur-color: #f58181;
  --urr-color: #b90b0c;
  --shine-color: #ffdfdf;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--lg-color);
}

.gem {
  position: absolute;
  width: 192px;
  height: 126px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  .lower-left {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-width: 85px 0px 0 96px;
    border-color: var(--ll-color) transparent transparent transparent;
  }

  .lower-middle {
    position: absolute;
    z-index: 3;
    width: 0;
    height: 0;
    left: 54px;
    bottom: 0;
    border-style: solid;
    border-width: 85px 42px 0 42px;
    border-color: var(--lm-color) transparent transparent transparent;
  }

  .lower-right {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 85px 96px 0 0px;
    border-color: var(--lr-color) transparent transparent transparent;
  }

  .upper-left-left {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 0 22px 42px 32px;
    border-color: transparent transparent var(--ull-color) transparent;
  }

  .upper-left {
    position: absolute;
    z-index: 1;
    width: 64px;
    height: 42px;
    top: 0;
    left: 32px;
    background-color: var(--ul-color);
  }

  .upper-middle {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    top: 0;
    left: 54px;
    border-style: solid;
    border-width: 0 42px 42px 42px;
    border-color: transparent transparent var(--um-color) transparent;
  }

  .upper-right {
    position: absolute;
    z-index: 1;
    width: 64px;
    height: 42px;
    top: 0;
    right: 32px;
    background-color: var(--ur-color);
    overflow: hidden;

    .shine {
      position: absolute;
      width: 4px;
      height: 80px;
      top: -40px;
      left: 30px;
      background-color: var(--shine-color);
      transform: rotate(-44deg) translateX(-30px);
      animation: shine 3s linear infinite both;
      box-shadow: 0 0 5px 0 var(--shine-color);
    }
  }

  .upper-right-right {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 32px 42px 22px;
    border-color: transparent transparent var(--urr-color) transparent;
  }
}

@keyframes shine {
  0% {
    transform: rotate(-44deg) translateX(-30px);
  }
  10%,
  100% {
    transform: rotate(-44deg) translateX(30px);
  }
}
