@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --btm-bg-color: #34495e;
  --top-bg-color: #e67e22;
  --text-color: #ffffff;
  --text-blur-color: rgba(255, 255, 255, 0.7);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background: var(--btm-bg-color);
  color: var(--text-color);
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#hoverEffectArea {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.surface {
  position: absolute;
  z-index: 5;
  pointer-events: none;
  width: 400px;
  height: 200px;
  top: 0;
  left: 0;
  background: var(--top-bg-color);
  overflow: hidden;
  transform-origin: 50% 0%;
  transition: all 0.4s ease-in-out;
}

.label {
  position: absolute;
  pointer-events: none;
  width: 400px;
  top: 169px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.front {
  z-index: 10;
  color: transparent;
  text-shadow: 0 0 10px var(--text-blur-color);
  transition: all 0.4s ease-in-out;
}

.back {
  z-index: 2;
}
