@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --light-shadow: rgba(0, 0, 0, 0.2);
  --bg-color: #2b4147;
  --text-color: #7a7a7a;
  --needle-color: #6c6c6c;
  --control-border-color: #f2f2f2;
  --control-bg-color: #ffffff;
  --gradient-start-color: #672b95;
  --gradient-end-color: #ce2e5f;
  --temp-one-color: #873183;
  --temp-two-color: #98317a;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.climate-control {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  background-color: var(--control-border-color);
  border-radius: 50%;
  box-shadow: 2px 4px 8px 0 var(--shadow);
  cursor: pointer;
}

.climate-control:hover .dial .needle {
  transform: rotate(-20deg);
}

.climate-control:hover .dial .internal-temp {
  opacity: 0;
  transform: translateX(-50px) scale(0.5);
}

.climate-control:hover .dial .internal-temp.alt {
  opacity: 1;
  transform: translateX(0);
}

.dial {
  position: absolute;
  z-index: 5;
  width: 130px;
  height: 130px;
  top: 35px;
  left: 35px;
  background-color: var(--control-bg-color);
  border-radius: 50%;
  box-shadow: 1px 2px 4px 0 var(--light-shadow);
}

.needle {
  position: absolute;
  width: 1px;
  height: 12px;
  left: 50%;
  top: 0;
  background-color: var(--needle-color);
  transform-origin: 0 65px;
  transform: rotate(-50deg);
  transition: all 0.5s ease-in-out;
}

.external-temp,
.internal-temp,
.location {
  position: absolute;
  text-align: center;
}

.external-temp {
  top: 18px;
  left: 6px;
  right: 0;
  font-weight: 300;
  font-size: 12px;
}

.internal-temp {
  top: 34px;
  left: 0;
  right: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: var(--temp-one-color);
  letter-spacing: -8px;
  padding-right: 12px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.internal-temp span,
.internal-temp.alt span {
  position: absolute;
  top: 0;
  right: 37px;
  font-size: 20px;
  line-height: 34px;
  padding: 0 0 0 7px;
}

.internal-temp.alt {
  letter-spacing: -6px;
  padding-right: 2px;
  opacity: 0;
  color: var(--temp-two-color);
  transform: translateX(50px) scale(0.5);
}

.internal-temp.alt span {
  right: 30px;
}

.location {
  bottom: 18px;
  left: 0;
  right: 0;
  font-weight: 300;
  font-size: 12px;
}

.gradient-circle {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 10px;
  left: 10px;
  background: linear-gradient(
    90deg,
    var(--gradient-start-color) 0%,
    var(--gradient-end-color) 100%
  );
  border-radius: 50%;
  box-shadow: inset 2px 4px 4px 0px var(--shadow);
}

.overlay {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 50%;
  left: 50%;
  background-color: var(--control-border-color);
  transform-origin: 0 0;
  transform: rotate(45deg);
  border-radius: 0 0 95px 0;
}
