:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-color: #135f8d;
  --sun-color: #e6a769;
  --cloud-color: #c56763;
  --sun-size: 64px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  overflow: hidden;
  background-color: var(--bg-color);
}

.sunshine {
  position: absolute;
  height: var(--sun-size);
  width: var(--sun-size);
  top: 40px;
  left: 52px;
  background-color: var(--sun-color);
  border-radius: 50%;
  animation: moveRight 60s linear infinite alternate both;
}

.cloud {
  position: absolute;
  fill: var(--cloud-color);
  animation: moveLeft 60s linear infinite alternate both;
}

.large {
  z-index: 5;
  top: 118px;
  left: 280px;
}

.medium {
  top: 89px;
  left: 50px;
}

.small {
  top: 74px;
  left: 195px;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
