:root {
  --shadow: rgba(0, 0, 0, 0.3);
  --frame-bg-color: #e47512;
  --brightest-color: #ffffff;
  --bright-color: #eeeeee;
  --dark-color: #dddddd;
  --darkest-color: #cccccc;
  --box-size: 200px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px var(--shadow);
  background-color: var(--frame-bg-color);
}

.box-alignment {
  position: absolute;
  width: var(--box-size);
  height: var(--box-size);
  top: 100px;
  left: 100px;
  perspective: 1000px;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateX(70deg) rotateZ(-45deg);
  transition: transform 1s ease-in-out;
  cursor: pointer;
}

.box:hover {
  transform: translateZ(-100px) rotateX(-120deg) rotateZ(135deg);
}

.face {
  position: absolute;
  width: var(--box-size);
  height: var(--box-size);
}

.front-top {
  transform: rotateY(0deg) translateZ(100px);
  background-color: var(--brightest-color);
}

.back-top {
  transform: rotateX(180deg) translateZ(100px);
  background-color: var(--darkest-color);
}

.front-left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: var(--bright-color);
}

.hidden-left {
  transform: rotateX(90deg) translateZ(100px);
  background-color: var(--darkest-color);
}

.front-right {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: var(--dark-color);
}

.hidden-right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: var(--darkest-color);
}
