@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

:root {
  --bg-color: #3faf82;
  --primary-color: #ffffff;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: var(--bg-color);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bars {
  width: 80px;
  height: 52px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;
}

.bar-one,
.bar-two,
.bar-three {
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 8px;
  background-color: var(--primary-color);
}

.bars.active .bar-one {
  animation: rotateToXBarOne 0.5s forwards;
}

.bars.active .bar-two {
  animation: scaleDownFadeOutBarTwo 0.2s forwards;
}

.bars.active .bar-three {
  animation: rotateToXBarThree 0.5s forwards;
}

.bars:not(.active) .bar-one {
  animation: rotateFromXBarOne 0.5s forwards;
}

.bars:not(.active) .bar-two {
  animation: scaleUpFadeInBarTwo 0.2s forwards;
}

.bars:not(.active) .bar-three {
  animation: rotateFromXBarThree 0.5s forwards;
}

@keyframes rotateToXBarOne {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(22px);
  }
  100% {
    transform: translateY(22px) rotate(45deg);
  }
}

@keyframes scaleDownFadeOutBarTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes rotateToXBarThree {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(-22px) rotate(-45deg);
  }
}

@keyframes rotateFromXBarOne {
  0% {
    transform: translateY(22px) rotate(45deg);
  }
  50% {
    transform: translateY(22px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scaleUpFadeInBarTwo {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotateFromXBarThree {
  0% {
    transform: translateY(-22px) rotate(-45deg);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(0);
  }
}
